.new-post{
	padding: 16px 0;
	border-bottom: 1px solid #ccc;
}

.new-post header,
.post header{
	margin-bottom: 20px;
}

.posts .post{
	padding-left:10px;
	border-left:3px solid #a21b24;
	margin-bottom:30px;
}

.posts .post .info{
	color:#aaa;
	font-style:italic;
}
.error, success{
	text-align: center;
}
.error{
	border: 1px solid red;
	border-color: #f9b5af;
	color:red;
}

.error ul{
	list-style:none;
	margin:0;
	padding:0;
}
.success{
	border:1px solid green;`
	background-color: #d1f9da;
	color:green;
}

.border{
	border:0px solid black;
	 background-color: green;
     box-shadow: 0px 0px 5px 1px gray;

     width: 35%;
     height: 450px;
     background-color: white;
     font-family: raleway;


}
.row{
	border:0px solid black;
	 background-color: green;
     box-shadow: 0px 0px 5px 1px gray;

     width: 40%;
     height: 550px;
     background-color: white;
     font-family: raleway;


}
.form-control {
    background-color: white;
    border: 1;
    color: black;
    padding: 10px 13%;
    text-align: left;
    text-decoration: none;
    
    font-size: 16px;
    cursor: pointer;
}
.submitbutton{
    background-color:#0066cc;
    border: none;
    color: white;
    padding: 15px 26%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
     font-family: raleway;
    margin: 4px 0px;
    cursor: pointer;
    margin-left:10px "
}
.loginbutton {
    background-color:#0066cc;
    border: none;
    color: white;
    padding: 15px 33.5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
   
    margin: 4px 2px;
    cursor: pointer;  font-family: raleway;
}

#col-md-6 label {
  text-align: center;
  display: block;
}
div.container {
    width: 100%;
    border: 0px solid gray;
      font-family: raleway;
      margin-top: -15px;
     margin-left: -4px;
     margin-right: -50px;
    }

header{
    margin-top: 0px;
    padding: 0em;
    color: black;
    background-color: white;
    clear: left;
    font-family: raleway;
     border: 0px solid gray;
}
footer {
    padding: 1em;
    color: black;
    background-color: #3173AD;
    clear: left;
    text-align: center;
    font-family: raleway;
    border: 0px solid gray;
}
nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    background-color: #3173AD  ;
    width: 160px;
    height: 575px;
     border: 0px solid gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 0px solid gray;
    padding: 0em;
    overflow: hidden;
     border: 0px solid gray;
     background-color: ;
}
.button {
    background-color: white;
    border: none;   
    color: white;   
    padding: 0px 0px;        
   display: inline-block;   
    font-size: 14px; 
    margin: 2px 0px;   
transition-duration: 0.4s;
  
    cursor: pointer;
}
.button1 {border-radius: 8px;}
.button2 {border-radius: 8px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 8px;}
.button5{border-radius: 15px;}

.button1 {
   
    background-color:#182286;
     color: white;
    border: 2px solid white;
    }
.button1:hover {    
background-color: #3173AD ;   
    color: white;
    border: 0px solid white;
}
.button2 {
   
    background-color: #182286;
     color: white;
   border: 2px solid white;
    }
.button2:hover {    
background-color: #3173AD ;   
    color: white;
    border: 0px solid white;
}
.button3 {
   
    background-color: #182286;
     color: white;
   border: 2px solid white;
    }
.button3:hover {    
background-color: #3173AD ;   
    color: white;
    border: 0px solid white;
}
.button4 {
   
    background-color: #182286;
     color: white;
   border: 2px solid white;
    }
.button4:hover {    
background-color: #3173AD ;   
    color: white;
    border: 0px solid white;
}

.button5 {
   
    background-color: maroon;
     color: white;
   border: 2px solid white;
       
    }
.button5:hover {    
background-color: white;   
    color: red;
    border: 2px solid red;
}

